body { margin: 0; background: #f6f8f9; }
h1,
h2,
h3,
h4,
h5,
h6 { margin: 0; }
a,
.button.solid {
	border: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.button.solid:hover { background: #0FB61D; }
#body { padding: 10px; }
.box {
	border: 1px solid #ddd; background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.box .wrapper { padding: 20px; }
.span-6.right { text-align: right; }
.span-6.right a { color: #999; }
.span-6.right a:hover { color: #08c; }
.headerArea { margin-bottom: 20px; }
.headerArea nav:first-child { border-bottom: 1px solid #ddd; padding: 0 0 5px 0; margin: 0 0 5px 0; }
.headerArea h3 { font-size: 1.3em; }
.headerArea h3,
.headerArea h3 a { color: #444; }
.headerArea nav i { margin-right: 5px; }
.headerArea .count { margin-right: 5px; }
.headerArea .sort { padding-right: 18px; display: inline-block; position: relative; margin: 0; color: #999; }
.headerArea .sort i { margin-right: 0; position: absolute; top: 50%; right: 0; margin-top: -7px; }
.headerArea .sort select {
	background: transparent;
	border: 0;
	display: inline-block;
	width: auto;
	vertical-align: middle;
	padding: 0 10px 0 0;
	line-height: 130%;
	font-size: 0.9em;
	color: #999;
}

.commentUser { margin-bottom: 5px; padding-bottom: 20px; border-bottom: 1px solid #ddd; position: relative; }
.commentUser .avatarArea { width: 70px; position: absolute; top: 0; left: 0; }
.commentUser .avatar {
	width: 70px; height: 70px;
	-webkit-border-radius: 500em;
	-moz-border-radius: 500em;
	-ms-border-radius: 500em;
	-o-border-radius: 500em;
	border-radius: 500em;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.commentBox {
	border: 1px solid #ddd; margin-left: 90px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.commentBox textarea { padding: 10px; font-size: 1.1em; resize: none; color: #999; border: 0; height: 80px; }
.commentBox .postArea {
	border-top: 1px solid #ddd; padding: 5px 10px; background: #f6f8f9;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.commentBox .postArea a { font-size: 1.2em; color: #999; display: inline-block; vertical-align: middle; line-height: 28px; }
.commentBox .postArea a:hover { color: #08c; }

.sortReg { margin-bottom: 20px; }
.sortReg h3 { font-size: 1.1em; color: #999; }
.sortReg h3 a { color: #999; }
.sortReg p { margin: 0; }
.sortReg .sort { padding-right: 18px; display: inline-block; position: relative; margin: 0; color: #999; }
.sortReg .sort i { margin-right: 0; position: absolute; top: 50%; right: 0; margin-top: -7px; }
.sortReg .right i { margin-right: 5px; }

.commentArea ul { margin: 0; padding: 0; list-style: none; }
.commentArea .avatarArea { width: 70px; display: table-cell; vertical-align: middle; }
.commentArea .avatarArea a { display: inline-block; margin-bottom: 10px; position: relative; }
.commentArea .avatar {
	width: 70px; height: 70px;
	-webkit-border-radius: 500em;
	-moz-border-radius: 500em;
	-ms-border-radius: 500em;
	-o-border-radius: 500em;
	border-radius: 500em;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
.commentArea .avatarArea .badgeVote {
	background: #0FB61D; color: #fff; line-height: 20px; width: 20px; font-size: 0.8em; display: block; text-align: center; position: absolute; top: -5px; left: -5px;
	-webkit-border-radius: 500em;
	-moz-border-radius: 500em;
	-ms-border-radius: 500em;
	-o-border-radius: 500em;
	border-radius: 500em;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
.commentArea .avatarArea .badgeVote.negative {
	background: #F23030;
}
.commentArea .avatarArea .badgeVote i { font-style: normal; }
.commentArea .content { display: table-cell; vertical-align: middle; width: auto; padding-left: 20px; }
.commentArea .content .meta .username { font-size: 1.2em; font-weight: 600; }
.commentArea .content .meta .badge {
	background: #999; color: #fff; padding: 2px 5px; font-size: 0.8em; letter-spacing: 0.3pt; margin-left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.commentArea .content .meta .replyUser { margin-left: 5px; color: #999; }
.commentArea .content .meta .replyUser i { margin-right: 3px; }
.commentArea .content .sparator { font-size: 0.3em; color: #999; vertical-align: middle; }
.commentArea .content .meta { margin: 0 0 10px; }
.commentArea .content .meta li { display: inline-block; margin-right: 10px; line-height: 130%; vertical-align: middle; }
.commentArea .content .meta li:last-child,
.commentArea .content .vote li:last-child { margin-right: 0; }
.commentArea .content .meta .time { color: #999; font-size: 0.9em; }
.commentArea .content p { margin: 5px 0; line-height: 130%; color: #444; font-size: 1em }
.commentArea .content .reply { margin: 10px 0 0; }
.commentArea .content .reply a { color: #999; font-weight: 600; font-size: 0.9em; }
.commentArea .content .reply a:hover { color: #08c; }
.commentArea .content .reply li { display: inline-block; margin-right: 15px; vertical-align: middle; }
.commentArea .content .reply .voteup { margin-right: 10px; padding-right: 10px; border-right: 1px solid #ddd; }
.commentArea .content .reply li a { font-size: 1em; line-height: 100%; color: #999; margin-bottom: 0; letter-spacing: 0.3pt; }

.commentArea .post { margin-bottom: 25px; border-bottom: 1px solid #eee; padding-bottom: 25px; }
.commentArea .nested { margin-left: 30px; }
.commentArea .nested .avatarArea { width: 60px; display: table-cell; vertical-align: middle; }
.commentArea .nested .avatar { width: 60px; height: 60px; }
.commentArea .nested .avatarArea .vote li { margin-right: 5px; }
.commentArea .nested .avatarArea .vote li:last-child { margin-right: 0px; }

#login { background: #f6f8f9; }
#login input[type="text"],
#login input[type="password"] { font-size: 1.1em; }
/*#login input[type="submit"] { border: 0; }
#login input[type="submit"]:hover { border: 0; }*/


/*============ Custom Select Box =============*/
.dropcontainer { position:relative; color: #999; }
.trigger {
	margin-left: 3px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.trigger:hover { color: #08c!important; }
.activetrigger { margin-left: 3px; color: #08c!important; }
.dropcontainer ul {
	position: absolute; left: 25px; border: 1px solid #ddd; background: #fff; list-style-type: none; padding: 0; margin: 0; width: auto; z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.dropcontainer ul li {
	padding: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
input[type="text"] 	transition: font-size: 1.1em;;
}
.dropcontainer ul li:first-child { display: none; }
.dropcontainer ul li a { padding: 5px 30px; display: block; line-height: 130%; }
.dropcontainer ul li:hover { background: #f6f8f9; outline: none; }
.dropcontainer ul li:hover a { color: #08c; }
.dropdownhidden { display: none; }
.dropdownvisible { height: auto; }


/*=============== Media Query ==================*/
@media only screen and (min-width:768px) {
	#body { padding: 50px; }
	.commentArea .nested { margin-left: 40px; }
}

